body {
  background: white;
  color: black;
}
h1 {
  text-align: center;
}
#searchbox {
  position: relative;
  margin-left: 36%;
  width: 300px;
  border: black;
  border-radius: 30px;
}
.buttondiv {
  margin-top: 5px;
  margin-left: 5px;
  width: 200px;
  height: 400px;
  border: black solid 2px;
  border-radius: 4px;
}
#uploadbutton, #editbot {
  margin-left: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.commonbots {
  border: black solid 2px;
  border-radius: 4px;
  width: 800px;
  height: 400px;
  margin-left: 250px;
  margin-top: -395px;
}
#bot1 {
  border: black solid 3px;
  border-radius: 10px;
  background-image: url("../images/bs.jpeg");
  background-size: 60px;
  background-clip: content-box;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#bot1details {
  margin-left: 120px;
  margin-top: -60px;
}
#bot2 {
  border: black solid 3px;
  border-radius: 10px;
  background-image: url("../images/gg.jpeg");
  background-size: 60px;
  background-clip: content-box;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}
#bot2details {
  margin-left: 120px;
  margin-top: -60px;
}
#bot3 {
  border: black solid 3px;
  border-radius: 10px;
  background-image: url("../images/tico.png");
  background-size: 60px;
  background-clip: content-box;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}
#bot3details {
  margin-left: 120px;
  margin-top: -60px;
}
